
.side-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  overflow: hidden;
}

.side-nav:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  display: block;
  position: absolute;
  will-change: opacity;
  transition: opacity 0.233s cubic-bezier(0,0,0.21,1);
}

.side-nav--visible {
  pointer-events: auto;
}

.side-nav--visible:before {
  opacity: 0.7;
}

.side-nav__content {
  background: #FAFAFA;
  width: 80%;
  max-width: 304px;
  height: 100%;
  overflow: hidden;
  position: relative;

  box-shadow: 0 0 4px rgba(0, 0, 0, .14),
      0 4px 8px rgba(0, 0, 0, .28);

  will-change: transform;
  transform: translateX(-102%);

  &.side-nav--visible {
    transform: translateX(0px);
  }
}


.side-nav__content--animatable {
  transition: transform 0.233s cubic-bezier(0,0,0.21,1);
}

.side-nav__header {
  background: $primary url(/images/side-nav-bg@2x.jpg);
  background-size: cover;
  width: 100%;
  height: 171px;
  position: relative;
}

.side-nav__title {
  font-size: 16px;
  line-height: 1;
  color: #FFF;
  position: absolute;
  bottom: 8px;
  left: 16px;
  height: 16px;
  font-weight: 500;
}

.side-nav__body {
  padding-top: 8px;
}

.side-nav__version {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 14px;
  opacity: 0.54;
}

.side-nav__delete-memos,
.side-nav__delete-all,
.side-nav__blog-post,
.side-nav__file-bug-report {
  font-family: 'Roboto';
  font-size: 14px;
  outline: none;
  height: 48px;
  padding-left: 72px;
  width: 100%;
  text-align: left;
  display: block;
  border: none;
  background: url(/images/ic_delete_24px.svg) 16px 12px no-repeat;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
}

.side-nav__delete-all {
  background-image: url(/images/ic_restore_24px.svg);
}

.side-nav__blog-post {
  background-image: url(/images/ic_info_outline_24px.svg);
  line-height: 48px;
  text-decoration: none;
}

.side-nav__blog-post:focus {
  background-color: #eee;
  outline: 0;
}

.side-nav__file-bug-report {
  background-image: url(/images/ic_feedback_24px.svg);
  line-height: 48px;
  text-decoration: none;
}

.side-nav__blog-post.active {
  font-weight: bold;
  background-color: rgba(0,0,0,.05);
}
