<section class="side-nav js-side-nav">
  <div class="side-nav__content js-side-nav-content">
    <div class="side-nav__header">
      <h1 class="side-nav__title">Compass Planner</h1>
    </div>

    <div class="side-nav__body">
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/">Index</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/projectidea/">Project Idea</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/formingacoreteam/">Forming a Core Team</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/waystoorganiseateam/">Ways to Organise a Team</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/location/">Location</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/supports/">Supports</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/buildingtheproposal/">Building the Proposal</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/criticalmassofsupport/">Critical Mass of support</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/projectgoaheadagreed/">Project go ahead agreed</a>
      <a role="tab" tabindex="0" class="side-nav__blog-post" href="/afterbuild/">After Build</a>
    </div>

    <div class="side-nav__version">Version @VERSION@</div>
  </div>
</section>

<aside class="toast-view js-toast-view"></aside>

{{> async-css }}

{{#each data.remoteScripts}}
<script src="{{this}}" async></script>
{{~/each}}
</body>
</html>
