<div class="card">
  <h1>Building the Proposal</h1>
  {{> topic}} 
  {{> capsulesofknowledge}}
  {{> dropdowns}}
  {{> positiveactions}}
  {{> friendlytips}}
  {{> flags}}
  
  {{> clouds}}
  
</div>
