<div class="card">
  <h1>Critical Mass of Support 2</h1>
  {{> topic}} 
  {{> capsulesofknowledge}}
  {{> dropdowns}}
  {{> positiveactions}}
  {{> friendlytips}}
  {{> flags}}
  
  {{> clouds}}
  
</div>
